header {
  background-color: #001529;
  height: 65px;
  padding: 0 50px;
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
    margin: 0;
  }
}

main {
  max-width: 400px;
  background-color: #ffffff;
}
