.tree-item-wrapper {
  list-style-type: none;
  padding: 5px 10px;
  margin: 0;

  .tree-item {
    display: flex;
    align-items: center;
  }
}

.icon {
  color: #262626;
  margin-right: 5px;
  transform: rotate(0);
  transition: transform 1s linear;
  cursor: pointer;


  &.hideArrow {
    visibility: hidden;
  }

  &.rotate {
    transform: rotate(90deg);
    transition: transform 1s linear;
  }
}

.icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

